#footer {
    position:absolute !important;
    bottom:0 !important;
    width:100% !important;
    padding-bottom: 3%;
    height: auto !important;
}
#header_h3{
    padding-bottom: 10% !important;
    padding-top: 20% !important;
}
#button-login{
    background-color: #FFCE56;
}
body{
    background-image: url('../img/pikachu.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    margin: 0 !important;
}